/cache/

/enable/secret/

# auto-save files.
\#*#

# backup files.
*~


/elpa


# only keep lockfiles
straight/*
!straight/versions

# savehist-mode.
/history

# known projects
/projects

# recentf-mode
/recentf

# eshell
/eshell

# tramp
/tramp

# eww
/url

# bookmarks
/bookmarks

# save place
/places

# TODO: change this
.cache/
