/ready/cache/

# auto-save files.
\#*#

# backup files.
*~


/elpa


# only keep lockfiles
straight/*
!straight/versions

# savehist-mode.
/history

# known projects
/projects

# recentf-mode
/recentf

# eshell
/eshell

# tramp
/tramp
